<div class="pl-4 py-2 bg-white drop-shadow-xl items-center content-center">
    <p class="text-5xl">Better<span class="text-red-400 font-medium italic">Tasks</span></p>
    <p class="text-sm italic">Made with  <mat-icon class="text-[20px] text-red-300">favorite</mat-icon>by <span class="text-red-400 font-medium italic">Lorenzo Mariosa</span> and <span class="text-red-400 font-medium italic">Rémi Barjavel</span></p>
    <a href="https://github.com/rbarjavel/WebTeck_last_assignement" class="hover:underline text-sm italic text-red-400 font-medium italic">Come and follow the project on github<mat-icon class="text-[15px] text-red-300">arrow_outward</mat-icon></a>
</div>
