<div class="lg:grid lg:grid-cols-3 h-full bg-white mx-32 drop-shadow-2xl my-4 py-4">
    <div class="hidden lg:flex col-span-2 flex flex-col justify-center items-center place-self-center">
        <div>
            <p class="text-4xl">Better<span class="text-red-400 font-medium italic">Tasks</span></p>
            <p class="text-2xl text-red-400 font-medium italic">Never go off track again.</p>
            <br>
            <p class="text-xl">Our application was created so that <span class="text-red-400 font-medium">you and your team</span>,<br> never lose sight of the important stages of any project.</p>
        </div>
    </div>
    <div class="col-span-3 lg:col-span-1 justify-center lg:mx-4 p-24 place-self-center">
        <h1 class="text-3xl text-center place-self-center">Register</h1>
        <br>
        <label class="flex flex-col text-xl">
            Username *
            <input [formControl]="username" class="mt-1 block w-full px-3 py-2 border-b text-slate-600 invalid:text-red-400 invalid:border-red-400 invalid:border-b-2 focus:outline-none border-grey focus:drop-shadow-xl hover:drop-shadow-xl" required=true>
        </label>
        <br>
        <label class="flex flex-col text-xl">
            firstName *
            <input [formControl]="firstName" class="mt-1 block w-full px-3 py-2 border-b text-slate-600 invalid:text-red-400 invalid:border-red-400 invalid:border-b-2 focus:outline-none border-grey focus:drop-shadow-xl hover:drop-shadow-xl" required=true>
        </label>
        <br>
        <label class="flex flex-col text-xl">
            lastName *
            <input [formControl]="lastName" class="mt-1 block w-full px-3 py-2 border-b text-slate-600 invalid:text-red-400 invalid:border-red-400 invalid:border-b-2 focus:outline-none border-grey focus:drop-shadow-xl hover:drop-shadow-xl" required=true>
        </label>
        <br>
        <label class="flex flex-col text-xl">
            Password *
            <input [formControl]="password" type="password" class="mt-1 block w-full px-3 py-2 border-b text-slate-600 invalid:text-red-400 invalid:border-red-400 invalid:border-b-2 focus:outline-none border-grey focus:drop-shadow-xl hover:drop-shadow-xl" required=true>
        </label>
        <br>
        <button (click)="OnClickRegister()" *ngIf="password.valid && username.valid && firstName.valid && lastName.valid; else unactive" class="border bg-cream px-3 py-2 hover:text-white hover:bg-red-400">Create</button>
        <ng-template #unactive>
            <button class="border bg-grey px-3 py-2 $" disabled>Create</button>
        </ng-template>
        <br>
        <br>
        <a class="text-sm text-end text-dgrey hover:text-red-400 text-right" href="/login">Already have an account ? Login !</a>
    </div>
    <!-- <p *ngIf="password.valid && username.valid"></p> -->
</div>
